<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div class="content" role="main">
  <div>
    Server:
    <input type="search" [(ngModel)]="url" (keyup.enter)="search(url)" />
  </div>

  <div class="form">
    <label> Family: </label>
    <input type="search" [(ngModel)]="family" (keyup.enter)="search(url)" />
    <label> Given: </label>
    <input type="search" [(ngModel)]="given" (keyup.enter)="search(url)" />
  </div>

  <div>
    <button (click)="search(url)">Search</button>
  </div>
  <div
    *ngIf="response | async as bundle; else loadingOrError"
    class="container"
  >
    <div *ngIf="bundle.total === 0; else patientList">No results</div>
    <ng-template #patientList>
      <app-patients [entries]="bundle.entry"></app-patients>
    </ng-template>
  </div>
  <ng-template #loadingOrError>
    <div *ngIf="error != null; else loading">
      An error occurred: {{ error.message }}
    </div>
    <ng-template #loading>loading...</ng-template>
  </ng-template>
</div>

<router-outlet></router-outlet>
